html {
    scroll-behavior: smooth;
  }

/* Header style  */
header{
    background-color: transparent;
}

/* Bg color for header nav bar  */
.container{
    color: black;
}

/* Text align for about me content  */
.justify-content-center{
    text-align: center;
}

/* Addition margin between about content and footer  */
.aboutContainer{
    margin-bottom: 50px;
}

/* Footer container style  */
.footerContainer{
    min-height: 50px;
    background-color: black;
    padding-bottom: 10px;
    padding-top: 5px;
    text-align: center;
    color: white;
    margin-top: -100px;
    position: fixed;
    left: 0;
    bottom: -5px;
    width: 100%;
}

/* Footer content style  */
.footer-body{
    padding: 1px;
    margin-top: 5px;
}

/* ContactLink color  */
.contactLink{
    color: #F14046;
}